<div class = "col-l-1 text-center" >
    <form  class="container-lg px-3">
        <div class = "p-4">
            <input id="email" placeholder="Correo electronico(obligatorio)" name="name" minlength="3" type="email" required>         
        </div>
          <input id="password" placeholder="Contraseña(obligatoria)" type="password" minlength="3" name="password" required>
        <p>
            <a routerLink="/registro">
                ¿No tienes cuenta? ¡Registrate aquí!
            </a>
        </p>
        <p>
          <input class="submit" type="submit" value="SUBMIT" routerLink="">
        </p>
    </form>    
</div>
