<nav class="navbar navbar-expand-lg" style="background-color: orange">     
    <div class="container px-4 px-lg-5" >                

        <!--Icono-->
        <a class="navbar-brand" href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/2048px-2021_Facebook_icon.svg.png" height="50" alt="F">
        </a>

        <!--Nombre Empresa-->
        <a class="navbar-brand" id="storeName" style="color: white" routerLink = "">Feria Click</a>

        <!--Boton Home-->
        <button class="navbar-toggler" style="color: white" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <!--botones-->
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" style="color: white">Inicio</a></li>
                <li class="nav-item justify-content-center"><a class="nav-link" href="#!" style="color: white">Acerca de</a></li>
            </ul>
            <div class="input-group" style="margin-right: 50px;">
                <div class="form-control" >
                    <input type="search" id="searchbar" class="form-control" />
                </div>                        
                <button type="button" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button> 
            </div>
            <div class="justify-content-around">
                <form class="d-flex justify-content-around">
                    <button class="btn btn-outline-dark" type="submit" style="background-color: white">
                        <i class="bi-cart-fill me-1"></i>
                            Carro
                        <span class="badge bg-dark text-white ms-1 rounded-pill" id="cartProductsAmount">0</span>
                    </button>
                </form>
            </div>
            <div class="just" style="margin: 10px" >
                <a routerLink="/login">
                    <form class="d-flex justify-content-around form-control">
                        <button type="submit">
                            <i class="bi bi-person-fill form-control fw-bolder" >
                                Ingreso
                            </i>
                        </button>
                    </form>
                </a>
            </div>
        </div>
    </div>
</nav>
