<div class = "col-l-1 text-center" >
    <form  class="container-lg px-3">
        <div class = "p-1">
            <input id = "user" placeholder="Correo Electronico(obligatorio)" type="email" minlength="7" name="email" required>
        </div>
        <div class = "p-1">
            <input id = "pass" placeholder="Contraseña(obligatoria)" type="password" minlength="7" name="password" required>
        </div>
        <div class = "p-1">
            <input id = "pass2" placeholder="Repetir contraseña(obligatoria)" type="password" minlength="7" name="password" data-rule-equalTo="#pass" required>
        </div>
        <div class="text-center p-4 pt-0 border-top-0 bg-transparent">
            <a class="btn btn-outline-dark mt-auto" onclick = "registrar()">
                Registrar
            </a>
        </div>
    </form>
</div>
